<font size="-1">
	<p>
		<b><i><!--$T::SETTINGS_ENABLE--></i></b> When activated, it will scan for the setup users in the given interval.
	</p>
	<p>
		<b><i><!--$T::SETTINGS_USER--></i></b> Using the "New User" Button a new User can be created. You can add multiple MAC addresses in the "MAC Address" field. Atleast one mac address needs to be entered.
		The plugin will scan for all setup addresses. Once a address was found the state '1' will be send to the miniserver.
	</p>
	<p>
		<b><i><!--$T::SETTINGS_FRITZ_IP--></i></b> The IP address of the FritzBox. Most of the times nothing needs to be changed here.
	</p>
	<p>
		<b><i><!--$T::SETTINGS_FRITZ_PORT--></i></b> The TR-064 port of the FritzBox which is used for accessing the MAC addresses. Most of the times nothing needs to be changed here.
	</p>
	<p>
		<b><i><!--$T::SETTINGS_SEND_UDP--></i></b> The UDP port of the Miniserver the detected Users should be send to.
	</p>
</font>
