														</table>
														<center>
															<button width="30%" type=button onclick="addUser()" data-role="button" data-inline="true" data-mini="true" data-icon="check">Neuer Benutzer</button>
														</center>
													</tr>
													<tr>
														<td colspan=3 width="75%" valign="middle">
														<h2>Fritzboxanbindung</h2>
														</td>
														<td align="right">
														&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelapikey">Fritz Box IP:</label>
														</td>
														<td width="75%">
															<input id="fritzbox" name="fritzbox" type="text" class="textfield" value="<!--$fritzbox-->">
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelapikey">Fritz Box Port:</label>
														</td>
														<td width="75%">
															<input id="fritzbox_port" name="fritzbox_port" type="text" data-validation="number" class="textfield" value="<!--$fritzbox_port-->"
															  data-validation-allowing="range[1;65000]"
															  data-validation-error-msg="* Bitte geben Sie einen gültigen Port zwischen 1 und 65000 an.">
														</td>
													</tr>
													<tr>
														<td colspan=3 width="75%" valign="middle">
														<h2>Miniserveranbindung</h2>
														</td>
														<td align="right">
														&nbsp;
														</td>
													</tr>
													<tr>
														<td width="25%">
															<label id="labelsendudp">Per UDP senden:</label>
														</td>
														<td width="75%">
															<input id="udpport" name="udpport" type="text" data-validation="number" class="textfield" value="<!--$udpport-->"
																data-validation-allowing="range[1;65000]"
																data-validation-error-msg="* Bitte geben Sie einen gültigen Port zwischen 1 und 65000 an.">
														</td>
													</tr>
												</tr>
												<tr>
													<td colspan=4>
													&nbsp;
													</td>
												</tr>
												<tr>
													<td></td>
													<td colspan=3>
													  <div id="form-error-message" class="form-error-message"></div>
												  </td>
											  </tr>
											</table>
										</div>
									<p>
										&nbsp;
									</p>
									<p>
										<center>
											<a id="btnlogs" data-role="button" href="/admin/system/tools/logfile.cgi?logfile=plugins/<!--$psubfolder-->/wifi_scanner.log&header=html&format=html" target="_blank" data-inline="true" data-mini="true" data-icon="arrow-d">Logdatei &ouml;ffnen</a>
											<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi">Abbrechen</a>
												<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check">Speichern</button>
										</center>
									</form>
									</p>
                  <script>
                    var $messages = $('#form-error-message');
                    $.validate({
                      modules : 'security',
                      scrollToTopOnError : true,
                      errorMessagePosition : $messages,
                    });

                    // Disable some options on Load depending on selected value
                    disable();

                    // Disable some options on click depending on selected value
                    function disable() {
                      // Station ID
                      if ( document.main_form.scanner_active.scanner_active_on == true ) {
                        $('#cron').removeClass('ui-disabled');
                      }
                    }

										function updateIndexes() {
											var table = document.getElementById("users");

											// Update the rows to use the correct indexes
											var rows = table.rows;
											for (var i=0; i<rows.length; i++) {
												var usernameField = rows[i].cells[2].firstElementChild.firstElementChild;
												var macsField = rows[i].cells[5].firstElementChild.firstElementChild;
												usernameField.id = "username" + (i + 1);
												usernameField.name = "username" + (i + 1);
												macsField.id = "macs" + (i + 1);
												macsField.name = "macs" + (i + 1);
											}
										}

										function addUser() {
												// Update the rows to use the correct indexes
												updateIndexes();

												// Add the new row
												var table = document.getElementById("users");
												var rows = table.rows;
										    var row = table.insertRow(-1);
												var rowCount = table.rows.length;
										    var cell1 = row.insertCell(0);
												cell1.setAttribute("width", "10%")
												cell1.innerHTML = "&nbsp;";
										    var cell2 = row.insertCell(1);
												cell2.setAttribute("width", "10%")
												cell2.innerHTML = "<label id=\"labelauto\">Name:</label>";
												var cell3 = row.insertCell(2);
												cell3.setAttribute("width", "20%")
												cell3.innerHTML = "<input id=\"username" + rowCount + "\" name=\"username" + rowCount + "\" type=\"text\" class=\"textfield\" value=\"\">";
												var cell4 = row.insertCell(3);
												cell4.setAttribute("width", "10%")
												cell4.innerHTML = "&nbsp;";
												var cell5 = row.insertCell(4);
												cell5.setAttribute("width", "10%")
												cell5.innerHTML = "<label id=\"labelauto\">MAC:</label>";
												var cell6 = row.insertCell(5);
												cell6.setAttribute("width", "30%")
												cell6.innerHTML = "<input id=\"macs" + rowCount + "\" name=\"macs" + rowCount + "\" type=\"text\" class=\"textfield\" value=\"\" pattern=\"([A-fa-f0-9]{2}:){5}([A-fa-f0-9]{2})(;([A-fa-f0-9]{2}:){5}([A-fa-f0-9]{2}))*\" title=\"MAC Adresse (mehrere möglich, getrennt mit ;)\">";
												var cell7 = row.insertCell(6);
												cell7.setAttribute("width", "10%")
												cell7.innerHTML = "&nbsp;";
												var cell8 = row.insertCell(7);
												cell8.setAttribute("width", "20%")
												cell8.innerHTML = "<button type=button onclick=\"deleteUser(parentElement.parentElement.rowIndex)\">Löschen</button>";

												// Reinit Validator
												var $messages = $('#form-error-message');
												$.validate({
													modules : 'security',
													errorMessagePosition : $messages,
												});

												// Recreate JQUERY styles
												$("#main_form").trigger('create');
										}

										function deleteUser(index)
										{
												var tbl = document.getElementById('users');
												var row = tbl.deleteRow(index);

												// Update the rows to use the correct indexes
												updateIndexes();

												// Recreate JQUERY styles
												$("#main_form").trigger('create');
										}

										function custom_submit()
										{
											var table = document.getElementById("users");
											var countField = document.getElementById("user_count");
											var rowCount = table.rows.length;
											countField.value = rowCount
										}
                  </script>
