<tr>
    <td width="10%">
        &nbsp;
    </td>
    <td width="10%">
        <label id="labelauto">Name:</label>
    </td>
    <td width="20%">
        <input id="username<!--$index-->" name="username<!--$index-->" type="text" class="textfield" value="<!--$username-->">
    </td>
    <td width="10%">
        &nbsp;
    </td>
    <td width="10%">
        <label id="labelauto">MACS:</label>
    </td>
    <td width="30%">
        <input id="macs<!--$index-->" name="macs<!--$index-->" type="text" class="textfield" value="<!--$macs-->">
    </td>
    <td width="10%">
        &nbsp;
    </td>
    <td width="20%">
        <button type=button onclick="deleteUser(parentElement.parentElement.rowIndex)">Delete</button>
    </td>
</tr>
