<TMPL_IF FORM>
<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi" onsubmit="custom_submit()">
    <input type="hidden" name="saveformdata" value="1">
            <div class="form-group">
                    <table class="formtable" border="0" width="100%" cellpadding="10">
                            <tr>
                                    <td colspan=3 width="75%" valign="middle">
                                    <h2><TMPL_VAR SETTINGS.TITLE></h2>
                                    </td>
                            </tr>
                            <tr>
                                    <td width="25%">
                                            <label id="labelauto"><TMPL_VAR SETTINGS.ENABLE></label>
                                    </td>
                                    <td width="50%">
                                            <table border=0 width="100%">
                                            <tr>
                                                    <td width="20%">
                                                        <fieldset>
                                                        <TMPL_VAR ENABLE>
                                                        </fieldset>
                                                    </td>
                                                    <td>
                                                    <fieldset>
                                                    <TMPL_VAR CRON>
                                                    </fieldset>
                                                    </td>
                                            </tr>
                                            </table>
                                    </td>
                            </tr>
                            <tr>
                                    <td colspan=4>
                                    &nbsp;
                                    </td>
                            </tr>
                            <tr>
                                    <td colspan=3 width="75%" valign="middle">
                                    <h2><TMPL_VAR SETTINGS.USER></h2>
                                    </td>
                                    <td align="right">
                                    &nbsp;
                                    </td>
                            </tr>
                            <tr>
                                    <td colspan=4 valign="middle">
                                            <input id="user_count" name="user_count" type="hidden" class="textfield">
                                            <table id="users">
                                                <TMPL_LOOP NAME=USER_DATA>
                                                <tr>
                                                    <td width="10%">
                                                        &nbsp;
                                                    </td>
                                                    <td width="10%">
                                                        <label id="labelauto"><TMPL_VAR SETTINGS.NAME></label>
                                                    </td>
                                                    <td width="20%">
                                                        <input id="username<TMPL_VAR INDEX>" name="username<TMPL_VAR INDEX>" type="text" class="textfield" value="<TMPL_VAR NAME>"
                                                        data-validation-rule="special:alphanumeric"
                                                        data-validation-error-msg="<TMPL_VAR SETTINGS.NAME_ERROR>">
                                                    </td>
                                                    <td width="10%">
                                                        &nbsp;
                                                    </td>
                                                    <td width="10%">
                                                        <label id="labelauto"><TMPL_VAR SETTINGS.MAC></label>
                                                    </td>
                                                    <td width="30%">
                                                        <input id="macs<TMPL_VAR INDEX>" name="macs<TMPL_VAR INDEX>" type="text" class="textfield" value="<TMPL_VAR MACS>">
                                                    </td>
                                                    <td width="10%">
                                                        &nbsp;
                                                    </td>
                                                    <td width="20%">
                                                        <button type=button onclick="deleteUser(parentElement.parentElement.rowIndex)"><TMPL_VAR SETTINGS.DELETE></button>
                                                    </td>
                                                </tr>
                                                </TMPL_LOOP>
                                        </table>
                                        <center>
                                            <button width="30%" type=button onclick="addUser()" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SETTINGS.NEW_USER></button>
                                        </center>
                                    </td>
                            </tr>
                            <tr>
                                    <td colspan=3 width="75%" valign="middle">
                                    <h2><TMPL_VAR SETTINGS.FRITZ></h2>
                                    </td>
                                    <td align="right">
                                    &nbsp;
                                    </td>
                            </tr>
                            <tr>
                                    <td width="25%">
                                        <label id="labelapikey"><TMPL_VAR SETTINGS.FRITZ_ENABLE></label>
                                    </td>
                                    <td colspan="2" width="50%">
                                        <fieldset>
                                        <TMPL_VAR FRITZ_ENABLE>
                                        </fieldset>
                                    </td>
                                    <td width="25%">
                                    </td>
                            </tr>
                            <tr>
                                    <td width="25%">
                                        <label id="labelapikey"><TMPL_VAR SETTINGS.FRITZ_IP></label>
                                    </td>
                                    <td colspan="2" width="50%">
                                        <input id="fritzbox" name="fritzbox" type="text" class="textfield" value="<TMPL_VAR BASE.FRITZBOX>">
                                    </td>
                                    <td width="25%">
                                    </td>
                            </tr>
                            <tr>
                                    <td width="25%">
                                        <label id="labelapikey"><TMPL_VAR SETTINGS.FRITZ_PORT></label>
                                    </td>
                                    <td width="50%">
                                        <input id="fritzbox_port" name="fritzbox_port" type="text" data-validation="number" class="textfield" value="<TMPL_VAR BASE.FRITZBOX_PORT>"
                                          data-validation-rule="special:number-min-max-value:1:65000"
                                          data-validation-error-msg="<TMPL_VAR SETTINGS.PORT_RANGE_ERROR>">
                                    </td>
                            </tr>
                            <tr>
                                    <td colspan=3 width="75%" valign="middle">
                                    <h2><TMPL_VAR SETTINGS.MINISERVER></h2>
                                    </td>
                                    <td align="right">
                                    &nbsp;
                                    </td>
                            </tr>
                            <tr>
                                    <td width="25%">
                                        <label id="labelsendudp"><TMPL_VAR SETTINGS.SEND_UDP></label>
                                    </td>
                                    <td width="50%">
                                        <input id="udpport" name="udpport" type="text" data-validation="number" class="textfield" value="<TMPL_VAR BASE.PORT>"
                                            data-validation-rule="special:number-min-max-value:1:65000"
                                            data-validation-error-msg="<TMPL_VAR SETTINGS.PORT_RANGE_ERROR>">
                                    </td>
                            </tr>
                    </tr>
                </table>
            </div>
            <p>
                &nbsp;
            </p>
            <p>
                <center>
                    <a id="btnlogs" data-role="button" href="<TMPL_VAR LOG_URL>" target="_blank" data-inline="true" data-mini="true" data-icon="arrow-d"><TMPL_VAR SETTINGS.OPEN_LOG></a>
                    <a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><TMPL_VAR SETTINGS.CANCEL></a>
                        <button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR SETTINGS.SAVE></button>
                </center>
            </p>
        </input>
</form>
<script>
// Add some attributes PERL::CGI doesn't provide
$('#enable').attr('data-role','flipswitch');
$('#fritz_enable').attr('data-role','flipswitch');
// Form Validation
$( document ).ready(function()
{
        validate_enable('#fritzbox_port');
        validate_enable('#udpport');
<TMPL_LOOP NAME=USER_DATA>
        validate_enable('#username<TMPL_VAR INDEX>');
</TMPL_LOOP>
});

function updateIndexes() {
    var table = document.getElementById("users");

    // Update the rows to use the correct indexes
    var rows = table.rows;
    for (var i=0; i<rows.length; i++) {
        var usernameField = rows[i].cells[2].firstElementChild.firstElementChild;
        var macsField = rows[i].cells[5].firstElementChild.firstElementChild;
        usernameField.id = "username" + (i + 1);
        usernameField.name = "username" + (i + 1);
        macsField.id = "macs" + (i + 1);
        macsField.name = "macs" + (i + 1);
    }
}

function addUser() {
    // Update the rows to use the correct indexes
    updateIndexes();

    // Add the new row
    var table = document.getElementById("users");
    var rows = table.rows;
    var row = table.insertRow(-1);
    var rowCount = table.rows.length;
    var cell1 = row.insertCell(0);
    cell1.setAttribute("width", "10%")
    cell1.innerHTML = "&nbsp;";
    var cell2 = row.insertCell(1);
    cell2.setAttribute("width", "10%")
    cell2.innerHTML = "<label id=\"labelauto\"><TMPL_VAR SETTINGS.NAME></label>";
    var cell3 = row.insertCell(2);
    cell3.setAttribute("width", "20%")
    cell3.innerHTML = "<input id=\"username" + rowCount + "\" name=\"username" + rowCount + "\" type=\"text\" class=\"textfield\" value=\"\" \
        data-validation-rule=\"special:alphanumeric\" \
        data-validation-error-msg=\"<TMPL_VAR SETTINGS.NAME_ERROR>\">";
    var cell4 = row.insertCell(3);
    cell4.setAttribute("width", "10%")
    cell4.innerHTML = "&nbsp;";
    var cell5 = row.insertCell(4);
    cell5.setAttribute("width", "10%")
    cell5.innerHTML = "<label id=\"labelauto\"><TMPL_VAR SETTINGS.MAC></label>";
    var cell6 = row.insertCell(5);
    cell6.setAttribute("width", "30%")
    cell6.innerHTML = "<input id=\"macs" + rowCount + "\" name=\"macs" + rowCount + "\" type=\"text\" class=\"textfield\" value=\"\" data-validation=\"custom\">";
    var cell7 = row.insertCell(6);
    cell7.setAttribute("width", "10%")
    cell7.innerHTML = "&nbsp;";
    var cell8 = row.insertCell(7);
    cell8.setAttribute("width", "20%")
    cell8.innerHTML = "<button type=button onclick=\"deleteUser(parentElement.parentElement.rowIndex)\"><TMPL_VAR SETTINGS.DELETE></button>";

    validate_enable('#username' + rowCount);

    // Recreate JQUERY styles
    $("#main_form").trigger('create');
}

function deleteUser(index)
{
    var tbl = document.getElementById('users');
    var row = tbl.deleteRow(index);

    // Update the rows to use the correct indexes
    updateIndexes();

    // Recreate JQUERY styles
    $("#main_form").trigger('create');
}

function custom_submit()
{
    var table = document.getElementById("users");
    var countField = document.getElementById("user_count");
    var rowCount = table.rows.length;
    countField.value = rowCount
}
</script>
</TMPL_IF>

<TMPL_IF SAVE>
<center>
        <table border=0>
        <tr>
                <td align="center">
                <h2><TMPL_VAR SETTINGS.HINT_OK></h2>
                <p>
                <TMPL_VAR SETTINGS.OK_SETTINGS_SAVED>
                </p>
                </td>
        </tr>
        <tr>
                <td align="center">
                <p>
                <a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="./index.cgi?form=<TMPL_VAR FORMNO>"><TMPL_VAR SETTINGS.BUTTON_OK></a>
                </p>
                </td>
        </tr>
        </table>
</center>
</TMPL_IF>
